@charset "utf-8";

html {
    background: var(--page-margin, #020009);
    overflow-x: hidden;
    font-size: large;
    font-family: 'B612', sans-serif;
    line-height: 1.3;
    color: var(--primary-text, white);
}


body {
	background-color: #313338;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
    margin: 0;
}


.link {
  color: var(--link-accent, #98f);
}


.header { color: #f2f3f5;
        font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
}

.navbar {
  color: #f2f3f5;
  font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #1e1f22;
  text-align: left;
  padding: 5px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col {
  flex: 1 1 0px;
}

.navbartitle {
  color: #f2f3f5;
  font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #1e1f22;
  text-align: center;  
}

.navbarlinks {
  color: #f2f3f5;
  font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #1e1f22;
  text-align: right;
  padding-left: 5px;
  float: right;
  
}


.questiondiv { color: #f2f3f5;
        font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
}

.intro { color: #f2f3f5;
        font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
}

.responce1 { color: #f2f3f5;
        font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
}

.ruleslist {
	list-style-type: none
}

.footertext {
	font-size:11px;
	color: #868c95;
	text-align: center;
	font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.footerlinks {
  color: #f2f3f5;
  font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: right;
  padding-left: 5px;
  float: right;
  font-size: 11px;
}


.footer {
    margin-top: auto;
}

.responce2 { color: #f2f3f5;
        font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
	font-size: 25;
}

.frame{
  border: none;
}

.infotext {
	font-size:9px;
	color: #868c95;
	text-align: center;
	font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn {
  color: #868c95;
  text-align: center;
  font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	
}


.btn-shadow {
  display: inline-block;
  margin: 5px;
  font-weight: 500;
  line-height: 24px;
  color: #f2f3f5;
  position: relative;
  text-align: center;
  background: none;
  border: medium;
	
}

.btn-shadow::before {
  height: 40px;
  position: absolute;
  bottom: -1px;
  left: 10px;
  right: 10px;
  z-index: 0;
  border-radius: 2em;
}

.btn-shadow span {
  display: inline-block;
  transform-style: preserve-3d;
  transition: 0.3s ease-out;
  padding: 8px 20px;
  border-radius: 50px;
  position: relative;
  z-index: 2;
  will-change: transform, filter;
}

.btn-shadow:hover {
  color: #a8acb3;
}

.btn-shadow:hover span {
  filter: brightness(0.9) contrast(1.2)
}

.btn-shadow:hover::before {
  bottom: 8px;
  filter: blur(6px) brightness(0.8);
  left: 15px;
  right: 15px;
}

.btn-shadow--black span {
  background: rgb(26, 27, 30);
}

#popup {
	position: fixed;
	bottom: 20px;
	left: 20px;
	background-color: #78c25a;
	color: white;
	margin-top: 15px;
	padding: 10px 15px;
	font-weight: bold;
	border-radius: 4px;
	opacity: 0;
	transform: translateX(-100%);
	transition: all 0.5s ease;
	pointer-events: none;
	z-index: 1000;
}

#popup.show {
	opacity: 1;
	transform: translateX(0);
	pointer-events: auto;
}

.clickable {
  cursor: pointer;
  background-color: rgba(26, 27, 30, 0.397);
  color: #ffffff;
  padding: 5px 5px;
  border-radius: 5px;
  white-space: pre-wrap;
  word-break: break-word;
}